<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Creation Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='overall-styles.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='err/error-styles.css') }}">
</head>

<body id="errorpage">
    {% include 'snippets/header.html' %}
    <main>
        {% include 'snippets/notificationModal.html' %} <!--? INCLUDE NOTIFICATION MODAL -->
        <div id="error-message-wrapper">
            <h1>Error</h1>
            <p>{{ error_message }}</p>
            <button class="button return-home-button">Return to home</button>
            <!--! TEST -->
            <button class="button error-button">Error</button>
            <!--! TEST -->
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='dist/app.js') }}"></script>
</body>
</html>
